@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;

}

html, body {
    /*display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;*/
    

    font-family: 'Montserrat', sans-serif;

    /*PODE SER QUE SEJA NECESSARIO REAJUSTAR PARA IOS - iPhone*/
    width: 100%;
    height: 100%;

    background-color: var(--background-default);

}

a {
    text-decoration: none;

    color: var(--text-light-green);

}

:root {
    --background-default: #3f6b6b;
    --background-light-green: #88b3b3;
    --background-container: #f6f6f6;
    --background-write: #f6f6f6;

    --button-green: #3f6b6b;
    --button-light-green: #88b3b3;
    --button-write: #ffffff;

    --text-write: #ffffff;
    --text-green: #88b3b3;
    --text-light-green: #88b3b3;
    --text-gray: #616161;
    --text-light-gray: #929292;

    --boxShadow: #262626;

}

/*BACKGROUND PAGE*/
#backgroundPage {
    position: fixed;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#backgroundPage #menuPage {
    position: absolute;

    padding: 2%;

    width: 96%;
    height: 96%;

    z-index: -1;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

#backgroundPage #menuPage #login {
    width: 100%;
    height: 100%;

    

}

#backgroundPage #menuPage #login #perfil {
    width: 12%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#backgroundPage #menuPage #login #perfil img {
    padding: 2%;
    width: 50%;
    height: auto; 

}

#backgroundPage #menuPage #login #perfil p {
    font-size: 10px;
    font-weight: 600;

    color: var(--text-light-green);

}

#backgroundPage #menuPage #login #perfil #nomeUser {
    font-size: 16px;

    color: var(--text-write);

}

#backgroundPage #menuPage nav {
    width: 100%;
    height: 100%;

    font-size: 16px;
    font-weight: 600;
    color: var(--button-light-green);

}

#backgroundPage #menuPage nav ul {
    text-decoration: none;

}

/*CONFIGURACAO SVG*/
#backgroundPage #menuPage nav ul li #iconsMenu {
    margin-right: 5%;

    width: 10%;
    height: auto;

    /*color:var(--text-light-green);*/

    text-align: right;

    transition: color, .5s;

    display: flex;
    align-items: center;
    justify-content: center;

}

/*#backgroundPage #menuPage nav ul li #iconsMenu:hover {
    color:var(--text-write);

}*/

#backgroundPage #menuPage nav ul li #iconsMenu svg {
    width: 100%;
    height: 100%;

}

#backgroundPage #menuPage nav ul li #iconsMenu svg path {
    fill: currentcolor;

}

/*===================*/

#backgroundPage #menuPage nav ul li {
    list-style: none;

    padding: 1%;

    width: 10%; /*CONTROLE MENU INTERNO li*/
    height: auto;

    transition: color, .5s;

    /*background-color: #616161;*/

    display: flex;
    align-items: center;
    justify-content: left;

}

#backgroundPage #menuPage nav ul li:hover {
    color: var(--text-write);

}

#active {
    color: var(--text-write);

}

#backgroundPage #menuPage #configuracao {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: left;

    color: var(--text-light-green);

}

/*CONFIGURACAO SVG*/

#backgroundPage #menuPage #configuracao .parent {
    width: 1%;
    height: auto;

    color:var(--text-light-green);

    text-align: left;

    transition: color, .5s;

    display: flex;
    align-items: center;
    justify-content: center;

}

#backgroundPage #menuPage #configuracao .parent:hover {
    color:var(--text-write);

}

#backgroundPage #menuPage #configuracao .parent svg {
    width: 100%;
    height: 100%;

}

#backgroundPage #menuPage #configuracao .parent svg path {
    fill: currentcolor;

}

/*===================*/

#backgroundPage #menuPage #configuracao p {
    margin: 0.5%;
    font-size: 14px;
    font-weight: 600;

    transition: color, .5s;

}

#backgroundPage #menuPage #configuracao p:hover {
    color: var(--text-write);

}

/*CONTAINER*/
#backgroundPage #container {
    width: 100%;
    height: 100%;

    background-color: var(--background-container);

    box-shadow: 0px 0px 5px 0px var(--boxShadow);

    transition: margin-left, border-radius, .5s;

}

/*BOTAO MENU*/
#backgroundPage #container #menu {
    padding: 2%;

    width: 1%;

}